* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-text-color {
    color: #384A62;
}

.width {
    width: 90%;
    margin: 0 auto;
}

main {
    background-color: #F7F6F4;
    width: 99%;
    margin: 0 auto;
}

.hero-text {
    font-size: 58px;
    font-family: "dm serif display", serif;
    font-weight: 700;
    letter-spacing: 3px;
    color: #384A62;
    position: relative;
}

.hero-text-2 {
    font-size: 48px;
    font-family: "dm serif display", serif;
    line-height: 1.3;
}

.hero-input::placeholder {
    color: #B0B8C2 !important;
    font-size: 18px;
    padding: 50px 10px 50px;
}

.icon-1 {
    margin-left: -45px;
    margin-top: 33px;
}

.text-ord {
    line-height: 0.2;
}

.product-head {
    font-family: "dm serif display", serif;
}

.shop-link {
    border-bottom: 2px solid #000;
}

.cards {
    border-radius: none !important;
}

.button-icon {
    height: 15px;
    width: 15px;
    transition: all .2s;
}

.button-icon:hover{
    transform: translateX(3px);
}

.detail-card {
    font-size: 12px;
    font-weight: 700;
    color: #384A62;
}

.customers {
    font-family: "dm serif display",serif;
}

.customer-title {
    letter-spacing: 0.7px;
}

.customer-text-small {
    font-size: 24px;
    padding-right: 600px;
    letter-spacing: 0.5px;    
}

.testimonials {
    background-color: #EDF6FD;
}

.testimonial-heading {
    font-family: "dm serif display",serif;
}

.testimony {
    width: 32%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .1);
}

.twitter-icon {
    border: 1px solid rgba(0,0,0, .1);
    border-radius: 50px;
    align-self: flex-start;
    padding: 10px;
}

.testifier-name a:link {
    text-decoration: none;
}

.testifier-text a:link {
    text-decoration: none;
}