.hero-text {
    font-size: 58px;
    font-family: "dm serif display", serif;
    font-weight: 700;
    letter-spacing: 3px;
    color: #384A62;
    position: relative;
}

.hero-text-2 {
    font-size: 48px;
    font-family: "dm serif display", serif;
    line-height: 1.3;
}

.hero-input::placeholder {
    color: #B0B8C2 !important;
    font-size: 18px;
    padding: 50px 10px 50px;
}

.icon-1 {
    margin-left: -45px;
    margin-top: 33px;
}

.text-ord {
    line-height: 0.2;
}

.product-head {
    font-family: "dm serif display", serif;
}

.shop-link {
    border-bottom: 2px solid #000;
}

.cards {
    border-radius: none !important;
}

.button-icon {
    height: 15px;
    width: 15px;
    transition: all .2s;
}

/* .button-icon:hover {
    transform: translateX(3px);
} */

.hover-button:hover{
    transform: translateX(3px);
}

.detail-card {
    font-size: 12px;
    font-weight: 700;
    color: #384A62;
}